{% extends 'page.html' %}
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block title %}
    <h1 id="title">심장 질환 모니터링</h1>
    {% endblock title %}
    {% block content %}
    <div id="chart-container" style="width:100%; height:100%;"></div>
    <button class="btn btn-primary" id="loadDataButton">측정</button>
    <div id="currentValue"></div>
    <div id="average"></div>
    <script>
    var chart;
    var total = 0;
    var count = 0;
    var interval;
    var lastValue = null;

    document.getElementById('loadDataButton').addEventListener('click', function() {
        var startTime = new Date().toISOString();
        chart = Highcharts.chart('chart-container', {
            xAxis: {
                max: 60
            },
            series: [{
                type: 'spline'
            }],
            plotOptions: {
                series: {
                    animation: false
                }
            }
        });
        if (interval) {
            clearInterval(interval);
        }
        interval = setInterval(function() {
            fetchData(startTime);
        }, 1000);
        setTimeout(function() {
            clearInterval(interval);
            var healthStatus = '';
            var average = total / count;
            if(average < 60) {
                healthStatus = '서맥';
            } else if(average < 100) {
                healthStatus = '정상';
            } else {
                healthStatus = '빈맥';
            }
            var userResponse = confirm('심박수 상태 - ' + healthStatus + '.' + ' 확인 버튼을 누르면 건강 체크 페이지로 이동합니다.');
            if(userResponse) {
                $.ajax({
                    url: '{% url "ecg:chart_view" %}',
                    type: 'POST',
                    data: {
                        'avg_value': average,
                        'status': healthStatus,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if(response.status === 'success') {
                            window.location.href = "{% url 'ecg:questions' %}";
                        }
                    }
                });
            }
        }, 60000);
    });

    function fetchData(startTime) {
        $.ajax({
            url: '{% url "ecg:get_chart_data" %}' + '?start_time=' + startTime,
            type: 'GET',
            success: function(response) {
                if(response.data.length > 0) {
                    var newValues = response.data.filter(function(value, index) {
                        return index >= count;
                    });
                    chart.series[0].addPoint(newValues, true, false);
                    total += newValues.reduce((a, b) => a + b, 0);
                    count += newValues.length;
                    var average = total / count;
                    var newValue = newValues[newValues.length - 1];
                    document.getElementById('average').innerText = '심박수 평균값 - ' + average.toFixed(2);
                    if(newValue !== lastValue) {
                        document.getElementById('currentValue').innerText = '측정 심박수 - ' + newValue;
                        lastValue = newValue;
                    }
                }
            }
        });
    }
    </script>
    {% endblock %}
</body>
</html>
